@model TAF.Utility.KeyValue<List<SCBF.BaseInfo.Dto.SysDictionaryListDto>, List<TAF.Utility.KeyValue<Guid, string>>, List<SCBF.BaseInfo.Dto.SysDictionaryListDto>>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-primary">
                <span class="widget-caption">车辆信息</span>
            </div>
            <div class="widget-body">
                <div class="table-toolbar">
                    <add-button title="新增"></add-button>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="pre-scrollable">
                            <table class="table table-striped table-hover table-bordered " style="width: 1700px">
                                <thead>
                                <tr role="row">
                                    <th style="width: 100px;">
                                        车辆型号
                                    </th>
                                    <th style="width: 100px;">
                                        车架号
                                    </th>
                                    <th style="width: 100px;">
                                        发动机号
                                    </th>
                                    <th style="width: 100px;">
                                        油料标号
                                    </th>
                                    <th style="width: 100px;">
                                        车牌号
                                    </th>
                                    <th style="width: 100px;">
                                        基础公里数
                                    </th>
                                    <th style="width: 400px;">
                                        装备时间
                                    </th>
                                    <th style="width: 100px;">
                                        车辆状况
                                    </th>
                                    <th style="width: 100px;">
                                        行驶证号
                                    </th>
                                    <th style="width: 100px;">
                                        油箱限额
                                    </th>
                                    <th style="width: 100px;">
                                        油耗限额(夏)
                                    </th>
                                    <th style="width: 100px;">
                                        油耗限额(冬)
                                    </th>
                                    <th style="width: 200px;">
                                        操作
                                    </th>
                                </tr>
                                <tr role="row">
                                    <th>
                                        <input type="text" class="form-control" placeholder="车辆型号" v-model="queryEntity.clxh"/>
                                    </th>
                                    <th>
                                        <input type="text" class="form-control" placeholder="车架号" v-model="queryEntity.cjh"/>
                                    </th>
                                    <th>
                                        <input type="text" class="form-control" placeholder="发动机号" v-model="queryEntity.fdjh"/>
                                    </th>
                                    <th>
                                    </th>
                                    <th>
                                        <input type="text" class="form-control" placeholder="车牌号" v-model="queryEntity.cph"/>
                                    </th>
                                    <th>
                                    </th>
                                    <th>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" placeholder="装备时间起" v-model="queryEntity.zbsjFrom" id="zbsjFrom" readonly="readonly"/>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" placeholder="装备时间止" v-model="queryEntity.zbsjTo" id="zbsjTo" readonly="readonly"/>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <select id="searchClzk" style="width: 100%" v-model="queryEntity.clzk">
                                            <option value="" selected="">请选择...</option>
                                            @{
                                                for (var i = 0; i < Model.Key.Count; i++)
                                                {
                                                    if(i == 0)
                                                    {
                                                        <option value="@Model.Key[i].Id" >@Model.Key[i].Value</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@Model.Key[i].Id">@Model.Key[i].Value</option>
                                                    }
                                                }

                                            }
                                        </select>
                                    </th>
                                    <th>
                                        <input type="text" class="form-control" placeholder="行驶证号" v-model="queryEntity.xszh"/>
                                    </th>
                                    <th>
                                    </th>
                                    <th>
                                    </th>
                                    <th>
                                    </th>
                                    <th>
                                        <search-command></search-command>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="item in list">
                                    <td>{{item.clxh}}</td>
                                    <td>{{item.cjh}}</td>
                                    <td>{{item.fdjh}}</td>
                                    <td>{{item.ylbh}}</td>
                                    <td>{{item.cph}}</td>
                                    <td>{{item.jcgls}}</td>
                                    <td>{{item.zbsj}}</td>
                                    <td>{{item.clzk}}</td>
                                    <td>{{item.xszh}}</td>
                                    <td>{{item.yxxe}}</td>
                                    <td>{{item.oilWearSummer}}</td>
                                    <td>{{item.oilWearWinter}}</td>
                                    <td>
                                        <row-command :id="item.id" title="编辑" :name="item.cph"></row-command>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot is="table-foot" colspan="13"></tfoot>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<dialog-delete></dialog-delete>
<form-edit></form-edit>
<template id="carInfoFormBody">
    <div id="form">
        <validator name="v">
            <form class="form-horizontal " name="form" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">车辆型号<span class="red">*</span></label>
                            <div class="col-sm-10">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="clxh" v-model="item.clxh" v-validate:clxh="{required:true}"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">车架号<span class="red">*</span></label>
                            <div class="col-sm-10">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="cjh" v-model="item.cjh" v-validate:cjh="{required:true}"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">发动机号<span class="red">*</span></label>
                            <div class="col-sm-10">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="fdjh" v-model="item.fdjh" v-validate:fdjh="{required:true}"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">油料标号<span class="red">*</span></label>
                            <div class="col-sm-10">
                                <span class="input-icon icon-right">
                                    <select id="octaneRatingId" style="width: 100%" v-model="queryEntity.octaneRatingId"  >
                                        <option value="" selected="">请选择...</option>
                                        @{
                                            for (var i = 0; i < Model.Item3.Count; i++)
                                            {
                                                    <option value="@Model.Item3[i].Id" >@Model.Item3[i].Value</option>
                                            }

                                        }
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">车牌号<span class="red">*</span></label>
                            <div class="col-sm-10">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="cph" v-model="item.cph" v-validate:cph="{required:true}"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">基础公里数<span class="red">*</span></label>
                            <div class="col-sm-10">
                                    <input type="number" class="form-control " placeholder="必填" name="jcgls" v-model="item.jcgls" v-validate:jcgls="{required:true}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">装备时间<span class="red">*</span></label>
                            <div class="col-sm-10">
                                <span class="input-icon icon-right">
                                    <input class="form-control  " placeholder="必填" type="text" id="datePickerZbsj" readonly="readonly" v-model="item.zbsj" name="zbsj" v-validate:zbsj="{required:true,dateTime:true}">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">车辆状况</label>
                            <div class="col-sm-10">
                                <span class="input-icon icon-right">
                                    <select id="clzk" style="width: 100%" v-model="item.clzk">
                                        <option value="" >请选择...</option>
                                        @{
                                            for (var i = 0; i < Model.Key.Count; i++)
                                            {
                                                    <option value="@Model.Key[i].Id" >@Model.Key[i].Value</option>
                                            }

                                        }
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">行驶证号<span class="red">*</span></label>
                            <div class="col-sm-10">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="xszh" v-model="item.xszh" v-validate:xszh="{required:true}"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">油箱限额<span class="red">*</span></label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control " placeholder="必填" name="yxxe" v-model="item.yxxe" v-validate:yxxe="{required:true}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">百公里油耗(夏季)<span class="red">*</span></label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control " placeholder="必填" name="oilWearSummer" v-model="item.oilWearSummer" v-validate:oilWearSummer="{required:true}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">百公里油耗(冬季)<span class="red">*</span></label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control " placeholder="必填" name="oilWearWinter" v-model="item.oilWearWinter" v-validate:oilWearWinter="{required:true}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">整备质量</label>
                            <div class="col-sm-10">
                                <span class="input-icon icon-right">
                                    <textarea rows="4" class="form-control " name="zbzl" v-model="item.zbzl"></textarea>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </validator>
    </div>
</template>
<script src="~/Scripts/carInfo.js"></script>