@model List<TAF.Utility.KeyValue<string, Guid>>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-primary">
                <span class="widget-caption">入库</span>
            </div>
            <div class="widget-body">
                <div class="table-toolbar">
                    <add-button title="新增"></add-button>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-hover table-bordered ">
                            <thead>
                                <tr role="row">
                                    <th style="width: 200px;">
                                        ProductId
                                    </th>        
                                    <th style="width: 200px;">
                                        Amount
                                    </th>        
                                    <th style="width: 200px;">
                                        StorageId
                                    </th>        
                                    <th style="width: 200px;">
                                        Code
                                    </th>        
                                    <th style="width: 200px;">
                                        Note
                                    </th>        
                                    <th style="width: 200px;">
                                        IsSpecial
                                    </th>        
                                    <th style="width: 200px;">
                                        操作
                                    </th>
                                </tr>
                                <tr role="row">
                                    <th>
                                    <select id="searchProductName" style="width: 100%" v-model="queryEntity.productId">
                                        <option value="">请选择...</option>
                                        @{
                                            foreach (var item in Model)
                                            {
                                                <option value="@item.Value">@item.Key</option>
                                            }
                                        }
                                    </select>
                                    </th>        
                                    <th>
                                    </th>        
                                    <th>
                                    <select id="searchStorageName" style="width: 100%" v-model="queryEntity.storageId">
                                        <option value="">请选择...</option>
                                        @{
                                            foreach (var item in Model)
                                            {
                                                <option value="@item.Value">@item.Key</option>
                                            }
                                        }
                                    </select>
                                    </th>        
                                    <th>
                                        <input type="text" class="form-control" placeholder="Code" v-model="queryEntity.code" />
                                    </th>        
                                    <th>
                                        <input type="text" class="form-control" placeholder="Note" v-model="queryEntity.note" />
                                    </th>        
                                    <th>
                                        <select id="searchIsCompleted" style="width: 100%" v-model="queryEntity.isSpecial">
                                                <option value="">请选择...</option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                        </select>
                                    </th>        
                                    <th><search-command></search-command></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in list">
                                    <td>{{item.productName}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>{{item.storageName}}</td>
                                    <td>{{item.code}}</td>
                                    <td>{{item.note}}</td>
                                    <td>{{item.isSpecial}}</td>
                                    <td>
                                        <row-command :id="item.id" title="编辑" :name="item.name"></row-command>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot is="table-foot" colspan="7"></tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<dialog-delete></dialog-delete>
<form-edit></form-edit>
<template id="entryFormBody">
    <div id="form">
        <validator name="v">
            <form class="form-horizontal " name="form" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label no-padding-right">ProductId<span class="red" >*</span></label>
                            <div class="col-sm-10">
                                <select id="searchEditProductId" style="width: 100%" v-model="item.productId" name="productid" v-validate:productid="{required:true}">
                                    <option value="">请选择...</option>
                                    @{
                                        foreach (var item in Model)
                                        {
                                            <option value="@item.Value">@item.Key</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div> 
               <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label no-padding-right">Amount<span class="red" >*</span></label>
                            <div class="col-sm-10">
                                <div class="spinbox spinbox-horizontal spinbox-right" id="spinboxAmount">
                                    <div class="spinbox-buttons	btn-group">
                                        <button type="button" class="btn spinbox-down blueberry">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn spinbox-up purple">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control spinbox-input " placeholder="必填" id="amount" name="amount" v-model="item.amount" v-validate:amount="{int:true}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label no-padding-right">StorageId<span class="red" >*</span></label>
                            <div class="col-sm-10">
                                <select id="searchEditStorageId" style="width: 100%" v-model="item.storageId" name="storageid" v-validate:storageid="{required:true}">
                                    <option value="">请选择...</option>
                                    @{
                                        foreach (var item in Model)
                                        {
                                            <option value="@item.Value">@item.Key</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label no-padding-right">Code<span class="red" >*</span></label>
                            <div class="col-sm-10">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="code" v-model="item.code"  v-validate:code="{required:true}"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label no-padding-right">Note<span class="red" >*</span></label>
                            <div class="col-sm-10">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="note" v-model="item.note"  v-validate:note="{required:true}"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">IsSpecial<span class="red" >*</span></label>
                            <div class="col-sm-10">
                                <div class="row">
                                        <div class="col-lg-4 col-sm-4 col-xs-4">
                                            <div class="checkbox">
                                                <label for="isSpecial">
                                                    <input type="checkbox" id="isSpecial" value="true" v-model="item.isSpecial" class="colored-success">
                                                    <span class=" text">是</span>
                                                </label>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </validator>
    </div>
</template>
<script src="~/Views/Entry/entry.js"></script>



